Refugee Project CSS 
body {
    background-color: blue;
}

h3 {
    color: purple;
    margin-left: 40px;	
    font-size: 60px;
color: black;
text-align: center;
}

p {
font-family: ;
font-size: 30px;
color: black;
}

