<head>
<link rel='stylesheet' type='text/css' href='RefugeeProject.css'>
<style>
body {
    background-color: blue;
}

h1 {
    color: purple;
    margin-left: 40px;
} 
</style>
</head>

body{
background-color: green;

}

h1 {
font-size: 60px;
color: black;
text-align: center;
}

p {
font-family: ;
font-size: 30px;
color: black;
}